# Core functionality - changes here should be rare!
/src/app.py                   @Venkatesh192002
/src/backend/database.py      @Venkatesh192002
/src/backend/routers/auth.py  @Venkatesh192002

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Venkatesh192002
